.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__username ユーザー名
      %ul.side-header__box__menu
        %li.side-header__box__new-group
          = link_to '#' do
            = icon('fas', 'edit', class: 'icon')
        %li.side-header__box__edit-user
          = link_to '#' do
            = icon('fas', 'cog', class: 'icon')
  .group-list
    = link_to "#" do
      .group
        %p.group__group-name
          仮置き1
        %p.group__group-last-message
          仮置き1
    = link_to "#" do
      .group
        %p.group__group-name
          仮置き1
        %p.group__group-last-message
          仮置き1
